<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Team Cloud Cocktail Website</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <style>
        .logo {
            font-family: 'Lobster', cursive;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Events</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                    aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </nav>

    <main class="container-fluid">

        <div class="row">
            <div class="p-4 p-md-5 mb-4">
                <div class="h-100 p-5">
                    <h1 class="logo">Cloud Cocktail Events!</h1>
                    <p>Event Management System.</p>
                    <button class="btn btn btn-warning" type="button" data-bs-toggle="modal"
                        data-bs-target="#createEventModal">Create an Event!</button>
                </div>
            </div>
        </div>

        <div class="container">
            {{{body}}}



            {{!-- Create Event Form --}}
            <div class="modal" tabindex="-1" id="createEventModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Event</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="createEventForm" action="/event" method="post">
                                <label class="form-label">Title</label>
                                <input name="title" type="text" class="form-control" />

                                <label class="form-label">Description</label>
                                <input name="description" type="text" class="form-control" />

                                <label class="form-label">Location</label>
                                <input name="location" type="text" class="form-control" />

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            <input type="submit" form="createEventForm" name="submit" value="submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </div>

        <script>
            console.log('a');
        </script>
</body>

</html>